@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color:#fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body::after{
  display: block;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body *{
  z-index: 1;
}

.year{
  font-size: 200px;
  z-index: -1;
  opacity: 0.3;
}

h1{
  font-size: 30px;
  margin: -80px 0 40px;
}
@media screen and (min-width:1280px){
  h1{
    font-size: 60px;
  }
}
.countdown{
  display: flex;
  justify-content: center;
  display: none
}

@media screen and (min-width:1280px){
  .countdown{
    transform: scale(2);
  }
}

.time{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

@media screen and (min-width:1280px){
  .time{
    margin: 15px;
  }
}

.time h2{
  margin: 0;
  font-size: 25px;
}

@media screen and (min-width:1280px){
  .time h2{
    margin: 0 0 5px;
    font-size: 30px;
  }
}